.CardLast_Group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.CardLast_Single {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

@media only screen and (max-width: 600px) {
  .CardLast_Group {
    flex-direction: column;
  }

  .CardLast_Single {
    width: 100vw;
  }
}