@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
  --color-background: #3C96D7; /*main backgrond*/
  --color-blue-dark-primary: #0A6EB7; /*used at btn*/
  --color-blue-dark-secondary: #11588C; /*used when btn pressed*/
  --color-blue-light-primary: #ECF5FB; /*used as background of table*/
  --color-blue-light-secondary: #DCECF7; /*used as border of table*/
  --color-white: #FFFFFF;
  --color-red: #ED7C74; /*used at excluir btn*/
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,  Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--color-background)!important;
  color: var(--color-white);
  overflow-x: hidden;
}

.screen-box {
  width: 80vw;
  padding: 6px;
  background-color: var(--color-white);
  color: var(--color-blue-dark-primary);
  border-radius: 5px;
  vertical-align: baseline;
  margin-bottom: 15px;
}

.form-size {
  max-width: 400px;
  width: 80vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}