.CardShare {
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  min-height: 158px;
}

.CardShare--header {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #3C96D7;
}

.CardShare--box {
  background: rgba(60, 150, 215, 0.1);
  border: 1px solid rgba(60, 150, 215, 0.09);
  box-sizing: border-box;
  border-radius: 3px;
  color: #3C96D7;
  font-size: 11px;
  line-height: 15px;
}

.Tab {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin: 6px;
}

.Tab-item {
  flex: 1;
  text-align: center;
  background-color: #ECF5FB;
  cursor: pointer;
  color: #2c7ab3;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  padding: 0.6rem;
  transition: 0.2s all;
}

.Tab-item.active {
  background-color: #2c7ab3;
  border: 0.18rem solid #fff;
  color: white;
}