.MenuHeaderMain {
  height: 120px;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.MenuHeaderMain:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image: url(../../../public/assets/backgroundapp.jpg);
  background-repeat: no-repeat;
  background-position: 50% -118px;
  background-size: cover;
}

.MenuHeaderMain__button {
  height: 50px;
  width: 60px;
  background-color: var(--color-blue-dark-primary);
  display: flex;
  position: absolute;
  left: 35px;
  top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  z-index: 1;
}

.MenuHeaderMain__button:hover {
  cursor: pointer;
}

.MenuHeaderMain__button>div {
  height: 4px;
  width: 40px;
  background-color: white;
  border-radius: 7px;
}

/* .MenuHeaderMain__button > div:nth-child(1) {
  transform: 
      rotate(45deg) 
      translate(7px, 7px);
}
.MenuHeaderMain__button > div:nth-child(2) {
  opacity: 0;
}
.MenuHeaderMain__button > div:nth-child(3) {
  transform: 
    rotate(-45deg) 
    translate(9px, -9px);
} */

.MenuHeader__Panel {
  background-color: white;
  box-shadow: 3px 0px 12px #00000038;
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  height: calc(100vh);
  width: 250px;
  z-index: 999;
  transition: all ease-in 500ms;
  flex-direction: column;
}

.t {
  left: -250px;
}

.MenuHeader__Logo {
  height: 70px;
  width: 100%;
  background-color: var(--color-background);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: white;
  line-height: 70px;
}

.MenuHeader__Submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.MenuHeader__Submenu>div {
  background-color: var(--color-background);
  border-radius: 3px;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  color: white;
  font-weight: 600;
  line-height: 40px;
  box-shadow: inset 0px 4px 3px 0px #00000042;
  transition: all 350ms linear;
}

.MenuHeader__Submenu>div:last-child {
  background-color: gray;
}

.MenuHeader__Submenu>div:hover {
  cursor: pointer;
  padding-left: 15px;
}

.closeMenuHeader {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  font-size: 20px;
}

.closeMenuHeader:hover {
  cursor: pointer;
}

.MenuHeaderMain:after {
  content: 'HealthCare';
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #0a6eb7;
  display: block;
  /* position: absolute; */
  /* margin: auto; */
  text-align: center;
  line-height: 120px;
  width: 100%;
  /* height: 100%; */
  z-index: -3;
  margin: auto;
}

@media (min-width: 400px) and (max-width: 559.98px) { 
  .MenuHeaderMain:after {
    font-size: 36px;
    margin-left: 50px;
  }

  .MenuHeaderMain:before {
    background-position: 50% -50px;
  }

}

@media (min-width: 180px) and (max-width: 399.98px) { 
  .MenuHeaderMain:after {
    font-size: 30px;
    margin-left: 50px;
  }

  .MenuHeaderMain:before {
    background-position: 50% -2px;
  }

}